In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/data analytics (2) (1).csv')

In [ ]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2B22BD5F95FB2629,electric_bike,17-09-2020 14:27,17-09-2020 14:44,Michigan Ave & Lake St,52.0,Green St & Randolph St,112.0,41.886692,-87.623561,41.883570,-87.648731,casual
1,A7FB70B4AFC6CAF2,electric_bike,17-09-2020 15:07,17-09-2020 15:07,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
2,86057FA01BAC778E,electric_bike,17-09-2020 15:09,17-09-2020 15:09,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
3,57F6DC9A153DB98C,electric_bike,17-09-2020 18:10,17-09-2020 18:35,Ashland Ave & Belle Plaine Ave,246.0,Montrose Harbor,249.0,41.956060,-87.668916,41.963985,-87.638216,casual
4,B9C4712F78C1AE68,electric_bike,17-09-2020 15:16,17-09-2020 15:52,Fairbanks Ct & Grand Ave,24.0,Fairbanks Ct & Grand Ave,24.0,41.891860,-87.621008,41.891346,-87.620325,casual

In [ ]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [ ]:
df.shape

(532958, 13)

In [ ]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19691
start_station_id      19901
end_station_name      23373
end_station_id        23524
start_lat                 0
start_lng                 0
end_lat                 789
end_lng                 789
member_casual             0
dtype: int64

In [ ]:
# FILLING THE NUMERICAL VALUES
df['start_station_id'].fillna(df['start_station_id'].mean(), inplace = True)
df['end_station_id'].fillna(df['end_station_id'].mean(), inplace = True)
df['end_lat'].fillna(df['end_lat'].mean(), inplace = True)
df['end_lng'].fillna(df['end_lng'].mean(), inplace = True)

In [ ]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19691
start_station_id          0
end_station_name      23373
end_station_id            0
start_lat                 0
start_lng                 0
end_lat                   0
end_lng                   0
member_casual             0
dtype: int64

In [ ]:
#FILLING THE NULL VALUES
df['start_station_name'].fillna(df['start_station_name'].mode()[0], inplace = True)
df['end_station_name'].fillna(df['end_station_name'].mode()[0], inplace = True)

In [ ]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [ ]:
df.head(15)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2B22BD5F95FB2629,electric_bike,17-09-2020 14:27,17-09-2020 14:44,Michigan Ave & Lake St,52.000000,Green St & Randolph St,112.000000,41.886692,-87.623561,41.883570,-87.648731,casual
1,A7FB70B4AFC6CAF2,electric_bike,17-09-2020 15:07,17-09-2020 15:07,W Oakdale Ave & N Broadway,223.603798,W Oakdale Ave & N Broadway,224.199541,41.940000,-87.640000,41.940000,-87.640000,casual
2,86057FA01BAC778E,electric_bike,17-09-2020 15:09,17-09-2020 15:09,W Oakdale Ave & N Broadway,223.603798,W Oakdale Ave & N Broadway,224.199541,41.940000,-87.640000,41.940000,-87.640000,casual
3,57F6DC9A153DB98C,electric_bike,17-09-2020 18:10,17-09-2020 18:35,Ashland Ave & Belle Plaine Ave,246.000000,Montrose Harbor,249.000000,41.956060,-87.668916,41.963985,-87.638216,casual
4,B9C4712F78C1AE68,electric_bike,17-09-2020 15:16,17-09-2020 15:52,Fairbanks Ct & Grand Ave,24.000000,Fairbanks Ct & Grand Ave,24.000000,41.891860,-87.621008,41.891346,-87.620325,casual
5,378BBCE1E444EB80,electric_bike,17-09-2020 18:37,17-09-2020 19:23,Clark St & Armitage Ave,94.000000,Streeter Dr & Grand Ave,224.199541,41.918265,-87.636360,41.880000,-87.620000,casual
6,0CB5E2496B6F1DF8,electric_bike,16-09-2020 21:39,16-09-2020 21:53,Wells St & Evergreen Ave,291.000000,Broadway & Sheridan Rd,256.000000,41.906763,-87.635222,41.952771,-87.650024,casual
7,9673F5D39BDBA8BE,electric_bike,17-09-2020 12:18,17-09-2020 12:18,Theater on the Lake,223.603798,Streeter Dr & Grand Ave,224.199541,41.760000,-87.650000,41.760000,-87.650000,casual
8,54B91F5C95B20268,electric_bike,17-09-2020 17:09,17-09-2020 17:34,Theater on the Lake,223.603798,Streeter Dr & Grand Ave,224.199541,41.750000,-87.640000,41.780000,-87.650000,casual
9,91CEBB66076D4713,electric_bike,17-09-2020 12:20,17-09-2020 12:29,Theater on the Lake,223.603798,Streeter Dr & Grand Ave,224.199541,41.760000,-87.650000,41.750000,-87.640000,casual
10,8A7CE19C3C3E0CA5,electric_bike,16-09-2020 22:58,17-09-2020 00:09,Michigan Ave & 18th St,273.000000,Michigan Ave & 18th St,273.000000,41.857901,-87.624654,41.857950,-87.624615,casual
11,CBC18F39D2D23394,electric_bike,16-09-2020 19:05,16-09-2020 19:30,Mies van der Rohe Way & Chestnut St,145.000000,W Oakdale Ave & N Broadway,224.199541,41.898271,-87.622592,41.940000,-87.640000,casual
12,F4C9168B19C7633B,electric_bike,16-09-2020 23:05,16-09-2020 23:22,Halsted St & Polk St,108.000000,Emerald Ave & 31st St,339.000000,41.871881,-87.646582,41.838135,-87.644953,casual
13,EFDFB3E5BFC992B2,electric_bike,17-09-2020 17:42,17-09-2020 18:07,Albany Ave & Bloomingdale Ave,511.000000,Albany Ave & Bloomingdale Ave,511.000000,41.913920,-87.705192,41.914016,-87.705182,casual
14,FB4661619AFD8E09,electric_bike,16-09-2020 20:17,16-09-2020 20:28,Lake Shore Dr & Diversey Pkwy,329.000000,Lake Shore Dr & North Blvd,268.000000,41.932489,-87.636442,41.911736,-87.626828,casual

In [ ]:
#ADDING A NEW COLUMN CALLED trip_duration
# calculated by subtracting variables started_at from ended_at. However, both of these variables are in object type.
#So the first step is to convert them to date and time format using the function to_datetime() from the Pandas library. 
#The second step is subtracting variables started_at from ended_at.

pd.options.mode.chained_assignment = None  # default='warn'

df["started_at"] = pd.to_datetime(df["started_at"])
df["ended_at"] = pd.to_datetime(df["ended_at"])

print("Typecast of variables changed successfully.") 
df.info()

Typecast of variables changed successfully.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532958 entries, 0 to 532957
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             532958 non-null  object
 1   rideable_type       532958 non-null  object
 2   started_at          532958 non-null  datetime64[ns]
 3   ended_at            532958 non-null  datetime64[ns]
 4   start_station_name  532958 non-null  object
 5   start_station_id    532958 non-null  float64
 6   end_station_name    532958 non-null  object
 7   end_station_id      532958 non-null  float64
 8   start_lat           532958 non-null  float64
 9   start_lng           532958 non-null  float64
 10  end_lat             532958 non-null  float64
 11  end_lng             532958 non-null  float64
 12  member_casual       532958 non-null  object
dtypes: datetime64[ns](2), float64(6), object(5)
memory usage: 52.9+ MB

In [ ]:
df["trip_duration"] = df["ended_at"] - df["started_at"]
df["trip_duration"] = pd.to_numeric(df["trip_duration"])/6e+10

In [ ]:
df["trip_duration"].describe(include = "all")

count    532958.000000
mean         73.931087
std        5628.985305
min     -381594.000000
25%           8.000000
50%          14.000000
75%          25.000000
max      350923.000000
Name: trip_duration, dtype: float64

In [ ]:
# removing outliers by creating filters
outliers_trip_duration = (df["trip_duration"] < 1) | (df["trip_duration"] > 480)
outliers_trip_duration.value_counts()

False    522751
True      10207
Name: trip_duration, dtype: int64

In [ ]:
df.drop(df.index[outliers_trip_duration], inplace = True)

print("Inconsistent values deleted successfully.")

Inconsistent values deleted successfully.

In [ ]:
#ADDING A NEW COLUMN CALLED trip_distance
#calculated by a combination of starting and ending stations' GPS coordinates. The first step is using the function np.sqrt() from the NumPy library.
#The second step is multiplying the degrees of separation of longitude and latitude by 111.139 to get the corresponding linear distances in meters.
df["trip_distance"] = np.sqrt(((df["end_lat"] - df["start_lat"])**2) + ((df["end_lng"] - df["start_lng"])**2))
df["trip_distance"] = df["trip_distance"] * 111.139

In [ ]:
#ADDING A NEW COLUMN CALLED start_hour
#calculated from the variable started_at using the dt.hour function from the Datetime library.
df["start_hour"] = df["started_at"].dt.hour
df["start_hour"].unique()

array([14, 18, 15, 21, 17, 12, 22, 19, 23, 20, 16, 13,  6, 10, 11,  9,  0,
        1,  8,  7,  2,  5,  3,  4])

In [ ]:
#ADDING A NEW COLUMN start_day
#calculated using the variable started_at with a combination of dictionaries and functions;
# dt.dayofweek from the Datetime library, and lambda.
df["start_day_num"] = df["started_at"].dt.dayofweek
day_dict = {0:"Sunday", 1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}
df["start_day_name"]= df["start_day_num"].apply(lambda y:day_dict[y])

In [ ]:
df["weekend"] = np.where(df["start_day_num"] > 5, True, False)

In [ ]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,trip_distance,start_hour,start_day_num,start_day_name,weekend
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:00,2020-09-17 14:44:00,Michigan Ave & Lake St,52.000000,Green St & Randolph St,112.000000,41.886692,-87.623561,41.883570,-87.648731,casual,17.0,2.818895,14,3,Wednesday,False
3,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:00,2020-09-17 18:35:00,Ashland Ave & Belle Plaine Ave,246.000000,Montrose Harbor,249.000000,41.956060,-87.668916,41.963985,-87.638216,casual,25.0,3.523799,18,3,Wednesday,False
4,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:00,2020-09-17 15:52:00,Fairbanks Ct & Grand Ave,24.000000,Fairbanks Ct & Grand Ave,24.000000,41.891860,-87.621008,41.891346,-87.620325,casual,36.0,0.094961,15,3,Wednesday,False
5,378BBCE1E444EB80,electric_bike,2020-09-17 18:37:00,2020-09-17 19:23:00,Clark St & Armitage Ave,94.000000,Streeter Dr & Grand Ave,224.199541,41.918265,-87.636360,41.880000,-87.620000,casual,46.0,4.625140,18,3,Wednesday,False
6,0CB5E2496B6F1DF8,electric_bike,2020-09-16 21:39:00,2020-09-16 21:53:00,Wells St & Evergreen Ave,291.000000,Broadway & Sheridan Rd,256.000000,41.906763,-87.635222,41.952771,-87.650024,casual,14.0,5.371395,21,2,Tuesday,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532953,151752B99EA40774,electric_bike,2020-09-26 12:24:00,2020-09-26 12:37:00,Damen Ave & Wellington Ave,162.000000,Campbell Ave & Montrose Ave,482.000000,41.935862,-87.678513,41.961574,-87.691226,casual,13.0,3.187900,12,5,Friday,False
532954,D022E7106FFA648C,electric_bike,2020-09-26 17:19:00,2020-09-26 17:39:00,Torrence Ave & 106th St,707.000000,Streeter Dr & Grand Ave,224.199541,41.702853,-87.559897,41.720000,-87.580000,casual,20.0,2.936522,17,5,Friday,False
532955,16F6F14FE158E720,electric_bike,2020-09-26 17:58:00,2020-09-26 18:43:00,Theater on the Lake,223.603798,Torrence Ave & 106th St,707.000000,41.720000,-87.580000,41.702830,-87.559930,casual,45.0,2.935441,17,5,Friday,False
532956,FA6D0FE576341B6B,electric_bike,2020-09-25 19:21:00,2020-09-25 20:37:00,Stockton Dr & Wrightwood Ave,324.000000,Streeter Dr & Grand Ave,224.199541,41.931254,-87.638701,41.890000,-87.610000,casual,76.0,5.585352,19,4,Thursday,False
532957,A48C9D5A2A7DCA34,electric_bike,2020-09-26 16:57:00,2020-09-26 17:31:00,State St & Kinzie St,47.000000,Halsted St & Roscoe St,299.000000,41.889235,-87.627997,41.943668,-87.648797,casual,34.0,6.476303,16,5,Friday,False

In [ ]:
csv_data = df.to_csv('cyclistic_dataset.csv', index=False)
print("Dataset exported as CSV file successfully.")

Dataset exported as CSV file successfully.

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
# Download the CSV file
files.download('cyclistic_dataset.csv')